@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f5f3f7;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  color: #3e2753;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus, a:active {
  text-decoration: inherit;
}

.section-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  overflow: hidden;
}

.section-main::before, .section-main::after {
  content: "";
  position: absolute;
  width: 420px;
  height: 80%;
}

.section-main::before {
  top: 0;
  left: -210px;
  background: -webkit-gradient(linear, left bottom, left top, from(#8838ff), to(#e942ff));
  background: linear-gradient(to top, #8838ff, #e942ff);
  border-radius: 0 0 100% 100%;
}

.section-main::after {
  bottom: 0;
  right: -210px;
  background-color: #f2e9f7;
  border-radius: 100% 100% 0 0;
}

.section-main .section-content {
  width: 100%;
  max-width: 500px;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  z-index: 1;
}

.section-main .section-content .title {
  font-size: 40px;
  margin-bottom: 30px;
}

.section-main .section-content .description {
  color: #a39daa;
  margin-bottom: 25px;
}

.section-main .section-content .chat-btn {
  padding: 12px 15px;
  color: white;
  border: 1px solid #e570ff;
  overflow: hidden;
  border-radius: 20px;
  font-size: 17px;
  background: -webkit-gradient(linear, left top, right top, from(#8838ff), to(#e942ff));
  background: linear-gradient(to right, #8838ff, #e942ff);
  font-weight: 700;
  cursor: pointer;
}

.section-main .section-content .chat-btn i {
  margin-right: 5px;
}

.chat-box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 350px;
  height: 500px;
  background-color: white;
  z-index: 10;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.chat-box .drag-element {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 100%;
  height: 25px;
  cursor: move;
}

.chat-box .resizer {
  position: absolute;
  background: transparent;
}

.chat-box .resizer.resizer-n {
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  cursor: n-resize;
}

.chat-box .resizer.resizer-e {
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  cursor: e-resize;
}

.chat-box .resizer.resizer-s {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  cursor: s-resize;
}

.chat-box .resizer.resizer-w {
  bottom: 0;
  left: 0;
  width: 1px;
  height: 100%;
  cursor: w-resize;
}

@media (max-width: 576px) {
  .section-main::after {
    display: none;
  }
  .section-main .section-content {
    width: 85%;
  }
  .section-main .section-content .title {
    font-size: 30px;
  }
}
/*# sourceMappingURL=style.css.map */